<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Simple Server Page</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <style>
    body {
      text-align: center;
      margin-top: 100px;
    }

    h1 {
      color: #333;
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: bold;
    }

    .hello {
      color: #FF6600;
      font-family: 'Pacifico', Montserrat;
      font-size: 36px;
    }
  </style>
</head>
<body>
<h1><span class="hello">Hello</span>, Server!</h1>
</body>
</html>
